@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, span, a, label, button, input {
  font-family: 'Poppins', sans-serif !important;
}

.pi {
  font-family: 'primeicons' !important;
}

button {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.07rem;
  border-radius: 7px;
  padding: 10px 45px;
  border: none;
  outline: none;
}

.btn-dark {
  background: #404F66;
  box-shadow: 0px 8.30752px 24.343px rgba(10, 63, 120, 0.165559);
  color: #fff;
}

.btn-primary {
  background: #0CBC8B;
  color: #222D39;
  box-shadow: 0px 14.7349px 69.3407px rgba(0, 0, 0, 0.07), 0px 6.15589px 28.9689px rgba(0, 0, 0, 0.0503198), 0px 3.29123px 15.4882px rgba(0, 0, 0, 0.0417275), 0px 1.84504px 8.68254px rgba(0, 0, 0, 0.035), 0px 0.979886px 4.61123px rgba(0, 0, 0, 0.0282725), 0px 0.407753px 1.91884px rgba(0, 0, 0, 0.0196802);
}

label {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #222D39;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #162937;
}

.link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #0066FF;
}

.sidebar-layout {
  display: flex;
}

.sidebar-layout .sidebar {
  width: 280px;
  position: fixed;
}

.sidebar-layout .content {
  width: 78%;
  position: relative;
  left: 22%;
}