@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --primary-color: #0CBC8B;
  --dark-color: #162937;
  --text-dark: #222D39;
  --blue-color: #0066FF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
label,
button,
input {
  font-family: 'Poppins', sans-serif !important;
}

.pi {
  font-family: 'primeicons' !important;
}

button {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.07rem;
  border-radius: 7px;
  padding: 10px 45px;
  border: none;
  outline: none;
}

.btn-dark {
  background: #404F66;
  box-shadow: 0px 8.30752px 24.343px rgba(10, 63, 120, 0.165559);
  color: #fff;
}

.btn-outline-dark {
  background: transparent;
  box-shadow: 0px 8.30752px 24.343px rgba(10, 63, 120, 0.165559);
  color: #404F66;
  border: 2px solid #404F66 !important;
}

.btn-primary {
  background: var(--primary-color);
  color: var(--text-dark);
  box-shadow: 0px 14.7349px 69.3407px rgba(0, 0, 0, 0.07), 0px 6.15589px 28.9689px rgba(0, 0, 0, 0.0503198), 0px 3.29123px 15.4882px rgba(0, 0, 0, 0.0417275), 0px 1.84504px 8.68254px rgba(0, 0, 0, 0.035), 0px 0.979886px 4.61123px rgba(0, 0, 0, 0.0282725), 0px 0.407753px 1.91884px rgba(0, 0, 0, 0.0196802);
}

label {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-dark);
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: var(--text-dark);
}

.link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: var(--blue-color);
}

.sidebar-layout {
  display: flex;
}

.sidebar-layout .sidebar {
  width: 280px;
  position: fixed;
}

.sidebar-layout .content {
  width: 78%;
  position: relative;
  left: 22%;
  padding: 0px 15px;
}

.sidebar-layout .content .p-badge {
  background-color: var(--primary-color);
  height: 1rem;
  min-width: 1rem;
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.steps {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps .p-slider.p-slider-horizontal {
  height: 8px !important;
}

.steps .p-slider .p-slider-handle {
  background-color: #222D39;
  border-color: #222D39;
}

.steps .p-slider:not(.p-disabled) .p-slider-handle:hover {
  background-color: #222D39;
  border-color: #222D39;
}

.step-in {
  padding: 20px 0px;
}

.steps .p-card {
  box-shadow: 0px -10.9365px 51.466px rgba(0, 0, 0, 0.07), 0px -4.56902px 21.5012px rgba(0, 0, 0, 0.0503198), 0px -2.44281px 11.4956px rgba(0, 0, 0, 0.0417275), 0px -1.36942px 6.44434px rgba(0, 0, 0, 0.035), 0px -0.72729px 3.42254px rgba(0, 0, 0, 0.0282725), 0px -0.302641px 1.4242px rgba(0, 0, 0, 0.0196802);
  border-radius: 9.42926px !important;
  width: 180px;
  height: 160px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps-text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #222D39;
}

.font-600 {
  font-weight: 600;
}

.steps .p-card .p-card-content {
  padding: 0;
}

.steps .p-card .p-component {
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps .p-inputtext {
  border: none;
  box-shadow: 0px 19.5076px 70.9368px rgba(0, 0, 0, 0.07), 0px 8.14982px 29.6357px rgba(0, 0, 0, 0.0503198), 0px 4.35728px 15.8447px rgba(0, 0, 0, 0.0417275), 0px 2.44266px 8.88239px rgba(0, 0, 0, 0.035), 0px 1.29728px 4.71737px rgba(0, 0, 0, 0.0282725), 0px 0.539826px 1.963px rgba(0, 0, 0, 0.0196802) !important;
  border-radius: 15px;
  font-size: 1rem;
  padding: 1.2rem 0.9375rem;
}

.slides-main {
  height: 54px;
}

.slides-main .p-inputnumber {
  height: 100%;
}

.slides-main input {
  border: 0.5px solid #222D39;
  border-radius: 0px 10px 10px 0px !important;
}

.steps .slider-labels {
  background: #E8E8E8;
  border-right: 0px;
  border-radius: 10px 0px 0px 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;

  color: #000000;
  height: 100%;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps .p-dropdown:not(.p-disabled):hover {
  border-color: transparent;
}

.steps .dropdown .p-dropdown {
  border: none;
  box-shadow: 0px 19.5076px 70.9368px rgba(0, 0, 0, 0.07), 0px 8.14982px 29.6357px rgba(0, 0, 0, 0.0503198), 0px 4.35728px 15.8447px rgba(0, 0, 0, 0.0417275), 0px 2.44266px 8.88239px rgba(0, 0, 0, 0.035), 0px 1.29728px 4.71737px rgba(0, 0, 0, 0.0282725), 0px 0.539826px 1.963px rgba(0, 0, 0, 0.0196802) !important;
  border-radius: 15px;
  font-size: 1rem;
  padding: 1.2rem 0.9375rem;
}

.steps .dropdown .p-inputtext {
  border: none;
  box-shadow: none !important;
  border-radius: 0;
  font-size: 1rem;
  padding: 0;
}

.p-card:hover,
.active {
  background-color: #E1EFFF !important;
}

.steps .subtext {
  font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height */

text-align: center;

color: #797292;

}

.steps .p-input-icon-left > .p-inputtext {
  padding-left: 2.5rem !important;
}

.steps .p-steps .p-steps-item:before {
  border-width: 5px;
  top: 45%;
}

.steps .p-steps .p-steps-item.p-highlight .p-steps-number {
  background-color: #0CBC8B;
  color: #0CBC8B;
}

.steps .p-steps .p-steps-item.p-highlight .p-steps-title {
  color: #0CBC8B;
}

.steps-container {
  display: flex;
  width: 30rem;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10px;
  width: 100%;
}

.step:not(:first-child) .line {
  position: absolute;
  top: 25%;
  left: -50%;
  height: 10px;
  width: calc(100% + 50%);
  background: #F5F5F5;
}

.step.current .line {
  background-color: #e6f7ff;
}

.step-content {
  display: flex;
  align-items: center;
  background: #E7E7E0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30px;
    height: 30px;
    z-index: 1;
  justify-content: center;
}

.success {
  background: #0CBC8B;
  color: #e6f7ff;
}

.step-number {
  font-weight: bold;
}

.step-label {
  margin-top: 10px;
  text-align: center;
  font-family: 'Poppins';
  font-weight: 600;
  color: #797292;
}
.inner-forms .heading {
  background: #D0FFF2;
  border-radius: 10px 10px 0px 0px;
}

.inner-forms .form-inside {
  background: #FFFFFF;
box-shadow: 0px 85px 80px rgba(0, 0, 0, 0.07), 0px 35.511px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 18.9859px 17.869px rgba(0, 0, 0, 0.0417275), 0px 10.6433px 10.0172px rgba(0, 0, 0, 0.035), 0px 5.65259px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.35217px 2.21381px rgba(0, 0, 0, 0.0196802);
border-radius: 0px 0px 10px 10px;
}